@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');
@import "tailwindcss";

@font-face { font-family: 'Google Sans'; font-style: normal; font-weight: 300; src: url('https://fonts.cdnfonts.com/s/14955/ProductSans-Light.woff') format('woff'); font-display: swap; }
@font-face { font-family: 'Google Sans'; font-style: normal; font-weight: 400; src: url('https://fonts.cdnfonts.com/s/14955/ProductSans-Regular.woff') format('woff'); font-display: swap; }
@font-face { font-family: 'Google Sans'; font-style: normal; font-weight: 500; src: url('https://fonts.cdnfonts.com/s/14955/ProductSans-Medium.woff') format('woff'); font-display: swap; }
@font-face { font-family: 'Google Sans'; font-style: normal; font-weight: 700; src: url('https://fonts.cdnfonts.com/s/14955/ProductSans-Bold.woff') format('woff'); font-display: swap; }

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-google-sans: 'Google Sans', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-google-sans);
  --font-mono: 'Space Mono', monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-google-sans);
}
